#root {
  text-align: center;
  position: relative;
}

.meetingTimes {
  display: flex;
  flex-direction : row;
  justify-content: center;
}

p {
  background-color: black;
  color: white; 
  margin: 10px;
  padding: 10px;
}

body {
  background-color: white;
}

.mapFormat {
  background-color: darkgray;
  border-radius: 10px;
  padding: 15px; 
}


.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*background-image: linear-gradient(180deg, #e2e2e2, darkgray);*/
  background-color: white;
  margin-top: 10px;
  padding-bottom: 5px;
}

.classInfo {
  margin-top: 0px;
  background-color: #d3d3d3;;
  font-family: 'Quicksand', sans-serif;
  padding: 70px;
  border-radius: 30px;
  border: 2px solid #c5c1c1;
}

.profContainer {
  background-color: rgb(183, 180, 180);
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 12%;
  padding-left: 12%;;
}

.className {
  margin-top: -25px;
}

.nav {
  background-color: darkgray;
  padding: 2%;
  margin-left: 550px;
  margin-right: 550px;
  font-size: 25px;
  border-radius: 15px;
}

.textBody{
  width: 100%;
  height: 70%;
  align-items: center;
  position: relative;
  top: 50px;
}

.textbox{
  height: 50px;
  width: 30%;
  text-align: center;
  place-items: center;
  font-size: 30px;
  margin-bottom: 1rem;
  border-width: 5px;
  border-color: black;
  background-color: white;
  color: black;
}

#goButton{
  padding: 15px;
  text-align: center;
  background-color: red;
  border-radius: 10px;
  margin: 10px;
  border-color: black;
  font-size: x-large;
  font-family: 'Quicksand', sans-serif;
}


.title {
  background-color:  #d3d3d3;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.location {
  font-size: 32px;
}

.welcome {
  font-family: 'Quicksand', sans-serif;
}

.yesmeets {
  background-color: green;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.nomeets {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.meetingTime {
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0px;
}

.availGood {
  color: green;
  font-family: 'Quicksand', sans-serif;
}

.availMid {
  color: orange;
  font-family: 'Quicksand', sans-serif;
}

.availBad {
  color: red;
  font-family: 'Quicksand', sans-serif;
}
